<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795850776367-b20pm58f3c148ir9a1gfplcpk09gpk69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795850776367-b20pm58f3c148ir9a1gfplcpk09gpk69</string>
	<key>API_KEY</key>
	<string>AIzaSyCWYAkcKj7Xm1w5Vw-46kAynx2cpnBQjh4</string>
	<key>GCM_SENDER_ID</key>
	<string>795850776367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arimiyazaki.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-c623a</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-c623a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795850776367:ios:f44d4e7ed82f8160bf4bda</string>
</dict>
</plist>